.account-header{
    padding: 30px;
    padding-left: 50px;
}

.dividing-line{
    height: 2px;
    background-color: rgb(225, 225, 225);
    border: none;
    margin-bottom: 40px;
}

.transfer-container{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.dropdown-formatting{
    display: flex;
    flex-direction: column;
}

.transfer-labels {
    margin-bottom: 10px;
    font-size: 18px;
}

.transfer-description {
    font-size: 25px;
    font-weight: 500;
}

p {
    margin-top: 0;
    padding-top: 0;
}
